:root {

    --clr-basic-white: 0, 0%, 100%;
    --clr-basic-black: 0, 0%, 0%;

    --clr-grape-0: 0, 0%, 0%;
    --clr-grape-5: 280, 100%, 10%;
    --clr-grape-10: 279, 0%, 0%;
    --clr-grape-15: 273, 80%, 25%;
    --clr-grape-20: 278, 92%, 26%;
    --clr-grape-25: 281, 94%, 26%;
    --clr-grape-30: 282, 64%, 33%;
    --clr-grape-35: 282, 58%, 38%;
    --clr-grape-40: 282, 48%, 45%;
    --clr-grape-50: 282, 49%, 55%;
    --clr-grape-60: 282, 65%, 66%;
    --clr-grape-70: 282, 98%, 77%;
    --clr-grape-80: 284, 100%, 85%;
    --clr-grape-90: 289, 100%, 92%;
    --clr-grape-95: 297, 100%, 96%;
    --clr-grape-98: 330, 100%, 98%;
    --clr-grape-99: 300, 100%, 99%;
    --clr-grape-100: 0, 0%, 100%;

    --clr-plump-purple-0: 0, 0%, 0%;
    --clr-plump-purple-5: 256, 100%, 13%;
    --clr-plump-purple-10: 258, 100%, 19%;
    --clr-plump-purple-15: 259, 97%, 24%;
    --clr-plump-purple-20: 255, 71%, 31%;
    --clr-plump-purple-25: 254, 58%, 36%;
    --clr-plump-purple-30: 253, 51%, 41%;
    --clr-plump-purple-35: 253, 44%, 47%;
    --clr-plump-purple-40: 252, 41%, 51%;
    --clr-plump-purple-50: 252, 48%, 57%;
    --clr-plump-purple-60: 252, 74%, 72%;
    --clr-plump-purple-70: 252, 100%, 81%;
    --clr-plump-purple-80: 252, 100%, 87%;
    --clr-plump-purple-90: 256, 100%, 94%;
    --clr-plump-purple-95: 261, 100%, 97%;
    --clr-plump-purple-98: 283, 100%, 99%;
    --clr-plump-purple-99: 300, 100%, 99%;
    --clr-plump-purple-100: 0, 0%, 100%;

    --clr-bittersweet-0: 0, 0%, 0%;
    --clr-bittersweet-5: 359, 100%, 9%;
    --clr-bittersweet-10: 359, 100%, 13%;
    --clr-bittersweet-15: 358, 100%, 16%;
    --clr-bittersweet-20: 358, 100%, 21%;
    --clr-bittersweet-25: 0, 82%, 26%;
    --clr-bittersweet-30: 2, 73%, 31%;
    --clr-bittersweet-35: 3, 66%, 37%;
    --clr-bittersweet-40: 4, 60%, 42%;
    --clr-bittersweet-50: 5, 74%, 61%;
    --clr-bittersweet-60: 5, 99%, 69%;
    --clr-bittersweet-70: 6, 100%, 74%;
    --clr-bittersweet-80: 7, 100%, 83%;
    --clr-bittersweet-90: 7, 100%, 92%;
    --clr-bittersweet-95: 9, 100%, 96%;
    --clr-bittersweet-98: 8, 100%, 98%;
    --clr-bittersweet-99: 300, 100%, 99%;
    --clr-bittersweet-100: 0, 0%, 100%;

    --clr-dark-blue-gray-0: 0, 0%, 0%;
    --clr-dark-blue-gray-5: 236, 73%, 10%;
    --clr-dark-blue-gray-10: 235, 60%, 13%;
    --clr-dark-blue-gray-15: 233, 33%, 23%;
    --clr-dark-blue-gray-20: 234, 33%, 23%;
    --clr-dark-blue-gray-25: 233, 28%, 28%;
    --clr-dark-blue-gray-30: 234, 23%, 35%;
    --clr-dark-blue-gray-35: 233, 25%, 42%;
    --clr-dark-blue-gray-40: 234, 23%, 48%;
    --clr-dark-blue-gray-50: 233, 28%, 58%;
    --clr-dark-blue-gray-60: 234, 41%, 69%;
    --clr-dark-blue-gray-70: 234, 63%, 79%;
    --clr-dark-blue-gray-80: 235, 77%, 85%;
    --clr-dark-blue-gray-90: 238, 100%, 94%;
    --clr-dark-blue-gray-95: 248, 100%, 97%;
    --clr-dark-blue-gray-98: 266, 100%, 99%;
    --clr-dark-blue-gray-99: 255, 100%, 99%;
    --clr-dark-blue-gray-100: 0, 0%, 100%;

    --clr-neutral-0: 0, 0%, 0%;
    --clr-neutral-5: 240, 20%, 8%;
    --clr-neutral-10: 240, 13%, 12%;
    --clr-neutral-15: 240, 10%, 16%;
    --clr-neutral-20: 240, 8%, 20%;
    --clr-neutral-25: 240, 6%, 25%;
    --clr-neutral-30: 240, 6%, 29%;
    --clr-neutral-35: 240, 5%, 34%;
    --clr-neutral-40: 246, 5%, 38%;
    --clr-neutral-50: 246, 4%, 48%;
    --clr-neutral-60: 246, 5%, 58%;
    --clr-neutral-70: 251, 7%, 69%;
    --clr-neutral-80: 251, 10%, 79%;
    --clr-neutral-90: 251, 22%, 90%;
    --clr-neutral-95: 255, 60%, 96%;
    --clr-neutral-98: 266, 100%, 99%;
    --clr-neutral-99: 300, 50%, 99%;
    --clr-neutral-100: 0, 0%, 100%;

    --clr-neutral-variant-0: 0, 0%, 0%;
    --clr-neutral-variant-5: 5, 32%, 7%;
    --clr-neutral-variant-10: 9, 23%, 12%;
    --clr-neutral-variant-15: 8, 19%, 16%;
    --clr-neutral-variant-20: 4, 15%, 20%;
    --clr-neutral-variant-25: 7, 14%, 25%;
    --clr-neutral-variant-30: 4, 11%, 29%;
    --clr-neutral-variant-35: 7, 10%, 34%;
    --clr-neutral-variant-40: 3, 9%, 38%;
    --clr-neutral-variant-50: 6, 8%, 48%;
    --clr-neutral-variant-60: 5, 10%, 58%;
    --clr-neutral-variant-70: 8, 14%, 69%;
    --clr-neutral-variant-80: 7, 24%, 80%;
    --clr-neutral-variant-90: 5, 53%, 91%;
    --clr-neutral-variant-95: 6, 100%, 96%;
    --clr-neutral-variant-98: 8, 100%, 98%;
    --clr-neutral-variant-99: 300, 100%, 99%;
    --clr-neutral-variant-100: 0, 0%, 100%;

    --clr-error-0: 0, 0%, 0%;
    --clr-error-5: 359, 100%, 9%;
    --clr-error-10: 358, 100%, 13%;
    --clr-error-15: 358, 100%, 16%;
    --clr-error-20: 357, 100%, 21%;
    --clr-error-25: 357, 100%, 25%;
    --clr-error-30: 356, 100%, 29%;
    --clr-error-35: 357, 89%, 35%;
    --clr-error-40: 0, 74%, 42%;
    --clr-error-50: 2, 72%, 53%;
    --clr-error-60: 4, 100%, 64%;
    --clr-error-70: 6, 100%, 75%;
    --clr-error-80: 6, 100%, 84%;
    --clr-error-90: 6, 100%, 92%;
    --clr-error-95: 9, 100%, 96%;
    --clr-error-98: 8, 100%, 98%;
    --clr-error-99: 300, 100%, 99%;
    --clr-error-100: 0, 0%, 100%;
}