/* Components */

/* Project card */

.project-card {
    display: grid;

    background-color: hsl(var(--clr-grape-15));

    border-radius: var(--size-3);
}

.project-card__body {
    color: hsl(var(--clr-basic-white));
}