/* Device sizes and containers' max width defined as variables */

:root {
    --dev-sm: 576px;
    --dev-md: 768px;
    --dev-lg: 992px;
    --dev-xl: 1200px;
    --dev-xxl: 1400px;

    --max-w-sm: 528px;
    --max-w-md: 648px;
    --max-w-lg: 872px;
    --max-w-xl: 960px;
    --max-w-xxl: 1160px;
}



/* Container */

.container {
    margin: 0 var(--sz-7);
    width: auto;

    @media screen and (min-width: 576px) {
        max-width: var(--max-w-sm);
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        max-width: var(--max-w-md);
        margin: 0 auto;
    }

    @media screen and (min-width: 992px) {
        max-width: var(--max-w-lg);
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        max-width: var(--max-w-xl);
        margin: 0 auto;
    }

    @media screen and (min-width: 1400px) {
        max-width: var(--max-w-xxl);
        margin: 0 auto;
    }
}



/* Flexbox utilities */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}



/* Grid system */

/* Grid container */

.grid {
    width: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    column-gap: var(--sz-7);

    @media screen and (min-width: 576px) {
        column-gap: var(--sz-7);
    }

    @media screen and (min-width: 768px) {
        column-gap: var(--sz-8);
    }

    @media screen and (min-width: 992px) {
        column-gap: var(--sz-8);
    }

    @media screen and (min-width: 1200px) {
        column-gap: var(--sz-9);
    }

    @media screen and (min-width: 1400px) {
        column-gap: var(--sz-10);
    }
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
    grid-template-columns: repeat(9, 1fr);
}

.grid-10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid-11 {
    grid-template-columns: repeat(11, 1fr);
}

.grid-12 {
    grid-template-columns: repeat(12, 1fr);
}



/* Column spanning classes */

/* XS devices */

.col-12 {
    grid-column: span 12;
}

.col-11 {
    grid-column: span 11;
}

.col-10 {
    grid-column: span 10;
}

.col-9 {
    grid-column: span 9;
}

.col-8 {
    grid-column: span 8;
}

.col-7 {
    grid-column: span 7;
}

.col-6 {
    grid-column: span 6;
}

.col-5 {
    grid-column: span 5;
}

.col-4 {
    grid-column: span 4;
}

.col-3 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;
}

.col-1 {
    grid-column: span 1;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .col-sm-12 {
        grid-column: span 12;
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-10 {
        grid-column: span 10;
    }

    .col-sm-9 {
        grid-column: span 9;
    }

    .col-sm-8 {
        grid-column: span 8;
    }

    .col-sm-7 {
        grid-column: span 7;
    }

    .col-sm-6 {
        grid-column: span 6;
    }

    .col-sm-5 {
        grid-column: span 5;
    }

    .col-sm-4 {
        grid-column: span 4;
    }

    .col-sm-3 {
        grid-column: span 3;
    }

    .col-sm-2 {
        grid-column: span 2;
    }

    .col-sm-1 {
        grid-column: span 1;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .col-md-12 {
        grid-column: span 12;
    }

    .col-md-11 {
        grid-column: span 11;
    }

    .col-md-10 {
        grid-column: span 10;
    }

    .col-md-9 {
        grid-column: span 9;
    }

    .col-md-8 {
        grid-column: span 8;
    }

    .col-md-7 {
        grid-column: span 7;
    }

    .col-md-6 {
        grid-column: span 6;
    }

    .col-md-5 {
        grid-column: span 5;
    }

    .col-md-4 {
        grid-column: span 4;
    }

    .col-md-3 {
        grid-column: span 3;
    }

    .col-md-2 {
        grid-column: span 2;
    }

    .col-md-1 {
        grid-column: span 1;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .col-lg-12 {
        grid-column: span 12;
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-10 {
        grid-column: span 10;
    }

    .col-lg-9 {
        grid-column: span 9;
    }

    .col-lg-8 {
        grid-column: span 8;
    }

    .col-lg-7 {
        grid-column: span 7;
    }

    .col-lg-6 {
        grid-column: span 6;
    }

    .col-lg-5 {
        grid-column: span 5;
    }

    .col-lg-4 {
        grid-column: span 4;
    }

    .col-lg-3 {
        grid-column: span 3;
    }

    .col-lg-2 {
        grid-column: span 2;
    }

    .col-lg-1 {
        grid-column: span 1;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .col-xl-12 {
        grid-column: span 12;
    }

    .col-xl-11 {
        grid-column: span 11;
    }

    .col-xl-10 {
        grid-column: span 10;
    }

    .col-xl-9 {
        grid-column: span 9;
    }

    .col-xl-8 {
        grid-column: span 8;
    }

    .col-xl-7 {
        grid-column: span 7;
    }

    .col-xl-6 {
        grid-column: span 6;
    }

    .col-xl-5 {
        grid-column: span 5;
    }

    .col-xl-4 {
        grid-column: span 4;
    }

    .col-xl-3 {
        grid-column: span 3;
    }

    .col-xl-2 {
        grid-column: span 2;
    }

    .col-xl-1 {
        grid-column: span 1;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .col-xxl-12 {
        grid-column: span 12;
    }

    .col-xxl-11 {
        grid-column: span 11;
    }

    .col-xxl-10 {
        grid-column: span 10;
    }

    .col-xxl-9 {
        grid-column: span 9;
    }

    .col-xxl-8 {
        grid-column: span 8;
    }

    .col-xxl-7 {
        grid-column: span 7;
    }

    .col-xxl-6 {
        grid-column: span 6;
    }

    .col-xxl-5 {
        grid-column: span 5;
    }

    .col-xxl-4 {
        grid-column: span 4;
    }

    .col-xxl-3 {
        grid-column: span 3;
    }

    .col-xxl-2 {
        grid-column: span 2;
    }

    .col-xxl-1 {
        grid-column: span 1;
    }

}



/* Row spanning classes */

/* XS devices */

.row-12 {
    grid-row: span 12;
}

.row-11 {
    grid-row: span 11;
}

.row-10 {
    grid-row: span 10;
}

.row-9 {
    grid-row: span 9;
}

.row-8 {
    grid-row: span 8;
}

.row-7 {
    grid-row: span 7;
}

.row-6 {
    grid-row: span 6;
}

.row-5 {
    grid-row: span 5;
}

.row-4 {
    grid-row: span 4;
}

.row-3 {
    grid-row: span 3;
}

.row-2 {
    grid-row: span 2;
}

.row-1 {
    grid-row: span 1;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .row-sm-12 {
        grid-row: span 12;
    }

    .row-sm-11 {
        grid-row: span 11;
    }

    .row-sm-10 {
        grid-row: span 10;
    }

    .row-sm-9 {
        grid-row: span 9;
    }

    .row-sm-8 {
        grid-row: span 8;
    }

    .row-sm-7 {
        grid-row: span 7;
    }

    .row-sm-6 {
        grid-row: span 6;
    }

    .row-sm-5 {
        grid-row: span 5;
    }

    .row-sm-4 {
        grid-row: span 4;
    }

    .row-sm-3 {
        grid-row: span 3;
    }

    .row-sm-2 {
        grid-row: span 2;
    }

    .row-sm-1 {
        grid-row: span 1;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .row-md-12 {
        grid-row: span 12;
    }

    .row-md-11 {
        grid-row: span 11;
    }

    .row-md-10 {
        grid-row: span 10;
    }

    .row-md-9 {
        grid-row: span 9;
    }

    .row-md-8 {
        grid-row: span 8;
    }

    .row-md-7 {
        grid-row: span 7;
    }

    .row-md-6 {
        grid-row: span 6;
    }

    .row-md-5 {
        grid-row: span 5;
    }

    .row-md-4 {
        grid-row: span 4;
    }

    .row-md-3 {
        grid-row: span 3;
    }

    .row-md-2 {
        grid-row: span 2;
    }

    .row-md-1 {
        grid-row: span 1;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .row-lg-12 {
        grid-row: span 12;
    }

    .row-lg-11 {
        grid-row: span 11;
    }

    .row-lg-10 {
        grid-row: span 10;
    }

    .row-lg-9 {
        grid-row: span 9;
    }

    .row-lg-8 {
        grid-row: span 8;
    }

    .row-lg-7 {
        grid-row: span 7;
    }

    .row-lg-6 {
        grid-row: span 6;
    }

    .row-lg-5 {
        grid-row: span 5;
    }

    .row-lg-4 {
        grid-row: span 4;
    }

    .row-lg-3 {
        grid-row: span 3;
    }

    .row-lg-2 {
        grid-row: span 2;
    }

    .row-lg-1 {
        grid-row: span 1;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .row-xl-12 {
        grid-row: span 12;
    }

    .row-xl-11 {
        grid-row: span 11;
    }

    .row-xl-10 {
        grid-row: span 10;
    }

    .row-xl-9 {
        grid-row: span 9;
    }

    .row-xl-8 {
        grid-row: span 8;
    }

    .row-xl-7 {
        grid-row: span 7;
    }

    .row-xl-6 {
        grid-row: span 6;
    }

    .row-xl-5 {
        grid-row: span 5;
    }

    .row-xl-4 {
        grid-row: span 4;
    }

    .row-xl-3 {
        grid-row: span 3;
    }

    .row-xl-2 {
        grid-row: span 2;
    }

    .row-xl-1 {
        grid-row: span 1;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .row-xxl-12 {
        grid-row: span 12;
    }

    .row-xxl-11 {
        grid-row: span 11;
    }

    .row-xxl-10 {
        grid-row: span 10;
    }

    .row-xxl-9 {
        grid-row: span 9;
    }

    .row-xxl-8 {
        grid-row: span 8;
    }

    .row-xxl-7 {
        grid-row: span 7;
    }

    .row-xxl-6 {
        grid-row: span 6;
    }

    .row-xxl-5 {
        grid-row: span 5;
    }

    .row-xxl-4 {
        grid-row: span 4;
    }

    .row-xxl-3 {
        grid-row: span 3;
    }

    .row-xxl-2 {
        grid-row: span 2;
    }

    .row-xxl-1 {
        grid-row: span 1;
    }

}


/* Column start classes */

/* XS devices */

.col-start-1 {
    grid-column-start: 1;
}

.col-start-2 {
    grid-column-start: 2;
}

.col-start-3 {
    grid-column-start: 3;
}

.col-start-4 {
    grid-column-start: 4;
}

.col-start-5 {
    grid-column-start: 5;
}

.col-start-6 {
    grid-column-start: 6;
}

.col-start-7 {
    grid-column-start: 7;
}

.col-start-8 {
    grid-column-start: 8;
}

.col-start-9 {
    grid-column-start: 9;
}

.col-start-10 {
    grid-column-start: 10;
}

.col-start-11 {
    grid-column-start: 11;
}

.col-start-12 {
    grid-column-start: 12;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .col-sm-start-1 {
        grid-column-start: 1;
    }

    .col-sm-start-2 {
        grid-column-start: 2;
    }

    .col-sm-start-3 {
        grid-column-start: 3;
    }

    .col-sm-start-4 {
        grid-column-start: 4;
    }

    .col-sm-start-5 {
        grid-column-start: 5;
    }

    .col-sm-start-6 {
        grid-column-start: 6;
    }

    .col-sm-start-7 {
        grid-column-start: 7;
    }

    .col-sm-start-8 {
        grid-column-start: 8;
    }

    .col-sm-start-9 {
        grid-column-start: 9;
    }

    .col-sm-start-10 {
        grid-column-start: 10;
    }

    .col-sm-start-11 {
        grid-column-start: 11;
    }

    .col-sm-start-12 {
        grid-column-start: 12;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .col-md-start-1 {
        grid-column-start: 1;
    }

    .col-md-start-2 {
        grid-column-start: 2;
    }

    .col-md-start-3 {
        grid-column-start: 3;
    }

    .col-md-start-4 {
        grid-column-start: 4;
    }

    .col-md-start-5 {
        grid-column-start: 5;
    }

    .col-md-start-6 {
        grid-column-start: 6;
    }

    .col-md-start-7 {
        grid-column-start: 7;
    }

    .col-md-start-8 {
        grid-column-start: 8;
    }

    .col-md-start-9 {
        grid-column-start: 9;
    }

    .col-md-start-10 {
        grid-column-start: 10;
    }

    .col-md-start-11 {
        grid-column-start: 11;
    }

    .col-md-start-12 {
        grid-column-start: 12;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .col-lg-start-1 {
        grid-column-start: 1;
    }

    .col-lg-start-2 {
        grid-column-start: 2;
    }

    .col-lg-start-3 {
        grid-column-start: 3;
    }

    .col-lg-start-4 {
        grid-column-start: 4;
    }

    .col-lg-start-5 {
        grid-column-start: 5;
    }

    .col-lg-start-6 {
        grid-column-start: 6;
    }

    .col-lg-start-7 {
        grid-column-start: 7;
    }

    .col-lg-start-8 {
        grid-column-start: 8;
    }

    .col-lg-start-9 {
        grid-column-start: 9;
    }

    .col-lg-start-10 {
        grid-column-start: 10;
    }

    .col-lg-start-11 {
        grid-column-start: 11;
    }

    .col-lg-start-12 {
        grid-column-start: 12;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .col-xl-start-1 {
        grid-column-start: 1;
    }

    .col-xl-start-2 {
        grid-column-start: 2;
    }

    .col-xl-start-3 {
        grid-column-start: 3;
    }

    .col-xl-start-4 {
        grid-column-start: 4;
    }

    .col-xl-start-5 {
        grid-column-start: 5;
    }

    .col-xl-start-6 {
        grid-column-start: 6;
    }

    .col-xl-start-7 {
        grid-column-start: 7;
    }

    .col-xl-start-8 {
        grid-column-start: 8;
    }

    .col-xl-start-9 {
        grid-column-start: 9;
    }

    .col-xl-start-10 {
        grid-column-start: 10;
    }

    .col-xl-start-11 {
        grid-column-start: 11;
    }

    .col-xl-start-12 {
        grid-column-start: 12;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .col-xxl-start-1 {
        grid-column-start: 1;
    }

    .col-xxl-start-2 {
        grid-column-start: 2;
    }

    .col-xxl-start-3 {
        grid-column-start: 3;
    }

    .col-xxl-start-4 {
        grid-column-start: 4;
    }

    .col-xxl-start-5 {
        grid-column-start: 5;
    }

    .col-xxl-start-6 {
        grid-column-start: 6;
    }

    .col-xxl-start-7 {
        grid-column-start: 7;
    }

    .col-xxl-start-8 {
        grid-column-start: 8;
    }

    .col-xxl-start-9 {
        grid-column-start: 9;
    }

    .col-xxl-start-10 {
        grid-column-start: 10;
    }

    .col-xxl-start-11 {
        grid-column-start: 11;
    }

    .col-xxl-start-12 {
        grid-column-start: 12;
    }

}

/* Column end classes */

/* XS devices */

.col-end-1 {
    grid-column-end: 1;
}

.col-end-2 {
    grid-column-end: 2;
}

.col-end-3 {
    grid-column-end: 3;
}

.col-end-4 {
    grid-column-end: 4;
}

.col-end-5 {
    grid-column-end: 5;
}

.col-end-6 {
    grid-column-end: 6;
}

.col-end-7 {
    grid-column-end: 7;
}

.col-end-8 {
    grid-column-end: 8;
}

.col-end-9 {
    grid-column-end: 9;
}

.col-end-10 {
    grid-column-end: 10;
}

.col-end-11 {
    grid-column-end: 11;
}

.col-end-12 {
    grid-column-end: 12;
}

.col-end-13 {
    grid-column-end: 13;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .col-sm-end-1 {
        grid-column-end: 1;
    }

    .col-sm-end-2 {
        grid-column-end: 2;
    }

    .col-sm-end-3 {
        grid-column-end: 3;
    }

    .col-sm-end-4 {
        grid-column-end: 4;
    }

    .col-sm-end-5 {
        grid-column-end: 5;
    }

    .col-sm-end-6 {
        grid-column-end: 6;
    }

    .col-sm-end-7 {
        grid-column-end: 7;
    }

    .col-sm-end-8 {
        grid-column-end: 8;
    }

    .col-sm-end-9 {
        grid-column-end: 9;
    }

    .col-sm-end-10 {
        grid-column-end: 10;
    }

    .col-sm-end-11 {
        grid-column-end: 11;
    }

    .col-sm-end-12 {
        grid-column-end: 12;
    }

    .col-sm-end-13 {
        grid-column-end: 13;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .col-md-end-1 {
        grid-column-end: 1;
    }

    .col-md-end-2 {
        grid-column-end: 2;
    }

    .col-md-end-3 {
        grid-column-end: 3;
    }

    .col-md-end-4 {
        grid-column-end: 4;
    }

    .col-md-end-5 {
        grid-column-end: 5;
    }

    .col-md-end-6 {
        grid-column-end: 6;
    }

    .col-md-end-7 {
        grid-column-end: 7;
    }

    .col-md-end-8 {
        grid-column-end: 8;
    }

    .col-md-end-9 {
        grid-column-end: 9;
    }

    .col-md-end-10 {
        grid-column-end: 10;
    }

    .col-md-end-11 {
        grid-column-end: 11;
    }

    .col-md-end-12 {
        grid-column-end: 12;
    }

    .col-md-end-13 {
        grid-column-end: 13;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .col-lg-end-1 {
        grid-column-end: 1;
    }

    .col-lg-end-2 {
        grid-column-end: 2;
    }

    .col-lg-end-3 {
        grid-column-end: 3;
    }

    .col-lg-end-4 {
        grid-column-end: 4;
    }

    .col-lg-end-5 {
        grid-column-end: 5;
    }

    .col-lg-end-6 {
        grid-column-end: 6;
    }

    .col-lg-end-7 {
        grid-column-end: 7;
    }

    .col-lg-end-8 {
        grid-column-end: 8;
    }

    .col-lg-end-9 {
        grid-column-end: 9;
    }

    .col-lg-end-10 {
        grid-column-end: 10;
    }

    .col-lg-end-11 {
        grid-column-end: 11;
    }

    .col-lg-end-12 {
        grid-column-end: 12;
    }

    .col-lg-end-13 {
        grid-column-end: 13;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .col-xl-end-1 {
        grid-column-end: 1;
    }

    .col-xl-end-2 {
        grid-column-end: 2;
    }

    .col-xl-end-3 {
        grid-column-end: 3;
    }

    .col-xl-end-4 {
        grid-column-end: 4;
    }

    .col-xl-end-5 {
        grid-column-end: 5;
    }

    .col-xl-end-6 {
        grid-column-end: 6;
    }

    .col-xl-end-7 {
        grid-column-end: 7;
    }

    .col-xl-end-8 {
        grid-column-end: 8;
    }

    .col-xl-end-9 {
        grid-column-end: 9;
    }

    .col-xl-end-10 {
        grid-column-end: 10;
    }

    .col-xl-end-11 {
        grid-column-end: 11;
    }

    .col-xl-end-12 {
        grid-column-end: 12;
    }

    .col-xl-end-13 {
        grid-column-end: 13;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .col-xxl-end-1 {
        grid-column-end: 1;
    }

    .col-xxl-end-2 {
        grid-column-end: 2;
    }

    .col-xxl-end-3 {
        grid-column-end: 3;
    }

    .col-xxl-end-4 {
        grid-column-end: 4;
    }

    .col-xxl-end-5 {
        grid-column-end: 5;
    }

    .col-xxl-end-6 {
        grid-column-end: 6;
    }

    .col-xxl-end-7 {
        grid-column-end: 7;
    }

    .col-xxl-end-8 {
        grid-column-end: 8;
    }

    .col-xxl-end-9 {
        grid-column-end: 9;
    }

    .col-xxl-end-10 {
        grid-column-end: 10;
    }

    .col-xxl-end-11 {
        grid-column-end: 11;
    }

    .col-xxl-end-12 {
        grid-column-end: 12;
    }

    .col-xxl-end-13 {
        grid-column-end: 13;
    }

}


/* Row start classes */

/* XS devices */

.row-start-1 {
    grid-row-start: 1;
}

.row-start-2 {
    grid-row-start: 2;
}

.row-start-3 {
    grid-row-start: 3;
}

.row-start-4 {
    grid-row-start: 4;
}

.row-start-5 {
    grid-row-start: 5;
}

.row-start-6 {
    grid-row-start: 6;
}

.row-start-7 {
    grid-row-start: 7;
}

.row-start-8 {
    grid-row-start: 8;
}

.row-start-9 {
    grid-row-start: 9;
}

.row-start-10 {
    grid-row-start: 10;
}

.row-start-11 {
    grid-row-start: 11;
}

.row-start-12 {
    grid-row-start: 12;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .row-sm-start-1 {
        grid-row-start: 1;
    }

    .row-sm-start-2 {
        grid-row-start: 2;
    }

    .row-sm-start-3 {
        grid-row-start: 3;
    }

    .row-sm-start-4 {
        grid-row-start: 4;
    }

    .row-sm-start-5 {
        grid-row-start: 5;
    }

    .row-sm-start-6 {
        grid-row-start: 6;
    }

    .row-sm-start-7 {
        grid-row-start: 7;
    }

    .row-sm-start-8 {
        grid-row-start: 8;
    }

    .row-sm-start-9 {
        grid-row-start: 9;
    }

    .row-sm-start-10 {
        grid-row-start: 10;
    }

    .row-sm-start-11 {
        grid-row-start: 11;
    }

    .row-sm-start-12 {
        grid-row-start: 12;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .row-md-start-1 {
        grid-row-start: 1;
    }

    .row-md-start-2 {
        grid-row-start: 2;
    }

    .row-md-start-3 {
        grid-row-start: 3;
    }

    .row-md-start-4 {
        grid-row-start: 4;
    }

    .row-md-start-5 {
        grid-row-start: 5;
    }

    .row-md-start-6 {
        grid-row-start: 6;
    }

    .row-md-start-7 {
        grid-row-start: 7;
    }

    .row-md-start-8 {
        grid-row-start: 8;
    }

    .row-md-start-9 {
        grid-row-start: 9;
    }

    .row-md-start-10 {
        grid-row-start: 10;
    }

    .row-md-start-11 {
        grid-row-start: 11;
    }

    .row-md-start-12 {
        grid-row-start: 12;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .row-lg-start-1 {
        grid-row-start: 1;
    }

    .row-lg-start-2 {
        grid-row-start: 2;
    }

    .row-lg-start-3 {
        grid-row-start: 3;
    }

    .row-lg-start-4 {
        grid-row-start: 4;
    }

    .row-lg-start-5 {
        grid-row-start: 5;
    }

    .row-lg-start-6 {
        grid-row-start: 6;
    }

    .row-lg-start-7 {
        grid-row-start: 7;
    }

    .row-lg-start-8 {
        grid-row-start: 8;
    }

    .row-lg-start-9 {
        grid-row-start: 9;
    }

    .row-lg-start-10 {
        grid-row-start: 10;
    }

    .row-lg-start-11 {
        grid-row-start: 11;
    }

    .row-lg-start-12 {
        grid-row-start: 12;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .row-xl-start-1 {
        grid-row-start: 1;
    }

    .row-xl-start-2 {
        grid-row-start: 2;
    }

    .row-xl-start-3 {
        grid-row-start: 3;
    }

    .row-xl-start-4 {
        grid-row-start: 4;
    }

    .row-xl-start-5 {
        grid-row-start: 5;
    }

    .row-xl-start-6 {
        grid-row-start: 6;
    }

    .row-xl-start-7 {
        grid-row-start: 7;
    }

    .row-xl-start-8 {
        grid-row-start: 8;
    }

    .row-xl-start-9 {
        grid-row-start: 9;
    }

    .row-xl-start-10 {
        grid-row-start: 10;
    }

    .row-xl-start-11 {
        grid-row-start: 11;
    }

    .row-xl-start-12 {
        grid-row-start: 12;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .row-xxl-start-1 {
        grid-row-start: 1;
    }

    .row-xxl-start-2 {
        grid-row-start: 2;
    }

    .row-xxl-start-3 {
        grid-row-start: 3;
    }

    .row-xxl-start-4 {
        grid-row-start: 4;
    }

    .row-xxl-start-5 {
        grid-row-start: 5;
    }

    .row-xxl-start-6 {
        grid-row-start: 6;
    }

    .row-xxl-start-7 {
        grid-row-start: 7;
    }

    .row-xxl-start-8 {
        grid-row-start: 8;
    }

    .row-xxl-start-9 {
        grid-row-start: 9;
    }

    .row-xxl-start-10 {
        grid-row-start: 10;
    }

    .row-xxl-start-11 {
        grid-row-start: 11;
    }

    .row-xxl-start-12 {
        grid-row-start: 12;
    }

}

/* Row end classes */

/* XS devices */

.row-end-1 {
    grid-row-end: 1;
}

.row-end-2 {
    grid-row-end: 2;
}

.row-end-3 {
    grid-row-end: 3;
}

.row-end-4 {
    grid-row-end: 4;
}

.row-end-5 {
    grid-row-end: 5;
}

.row-end-6 {
    grid-row-end: 6;
}

.row-end-7 {
    grid-row-end: 7;
}

.row-end-8 {
    grid-row-end: 8;
}

.row-end-9 {
    grid-row-end: 9;
}

.row-end-10 {
    grid-row-end: 10;
}

.row-end-11 {
    grid-row-end: 11;
}

.row-end-12 {
    grid-row-end: 12;
}

/* SM devices */

@media screen and (min-width: 528px) {

    .row-sm-end-1 {
        grid-row-end: 1;
    }

    .row-sm-end-2 {
        grid-row-end: 2;
    }

    .row-sm-end-3 {
        grid-row-end: 3;
    }

    .row-sm-end-4 {
        grid-row-end: 4;
    }

    .row-sm-end-5 {
        grid-row-end: 5;
    }

    .row-sm-end-6 {
        grid-row-end: 6;
    }

    .row-sm-end-7 {
        grid-row-end: 7;
    }

    .row-sm-end-8 {
        grid-row-end: 8;
    }

    .row-sm-end-9 {
        grid-row-end: 9;
    }

    .row-sm-end-10 {
        grid-row-end: 10;
    }

    .row-sm-end-11 {
        grid-row-end: 11;
    }

    .row-sm-end-12 {
        grid-row-end: 12;
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .row-md-end-1 {
        grid-row-end: 1;
    }

    .row-md-end-2 {
        grid-row-end: 2;
    }

    .row-md-end-3 {
        grid-row-end: 3;
    }

    .row-md-end-4 {
        grid-row-end: 4;
    }

    .row-md-end-5 {
        grid-row-end: 5;
    }

    .row-md-end-6 {
        grid-row-end: 6;
    }

    .row-md-end-7 {
        grid-row-end: 7;
    }

    .row-md-end-8 {
        grid-row-end: 8;
    }

    .row-md-end-9 {
        grid-row-end: 9;
    }

    .row-md-end-10 {
        grid-row-end: 10;
    }

    .row-md-end-11 {
        grid-row-end: 11;
    }

    .row-md-end-12 {
        grid-row-end: 12;
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .row-lg-end-1 {
        grid-row-end: 1;
    }

    .row-lg-end-2 {
        grid-row-end: 2;
    }

    .row-lg-end-3 {
        grid-row-end: 3;
    }

    .row-lg-end-4 {
        grid-row-end: 4;
    }

    .row-lg-end-5 {
        grid-row-end: 5;
    }

    .row-lg-end-6 {
        grid-row-end: 6;
    }

    .row-lg-end-7 {
        grid-row-end: 7;
    }

    .row-lg-end-8 {
        grid-row-end: 8;
    }

    .row-lg-end-9 {
        grid-row-end: 9;
    }

    .row-lg-end-10 {
        grid-row-end: 10;
    }

    .row-lg-end-11 {
        grid-row-end: 11;
    }

    .row-lg-end-12 {
        grid-row-end: 12;
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .row-xl-end-1 {
        grid-row-end: 1;
    }

    .row-xl-end-2 {
        grid-row-end: 2;
    }

    .row-xl-end-3 {
        grid-row-end: 3;
    }

    .row-xl-end-4 {
        grid-row-end: 4;
    }

    .row-xl-end-5 {
        grid-row-end: 5;
    }

    .row-xl-end-6 {
        grid-row-end: 6;
    }

    .row-xl-end-7 {
        grid-row-end: 7;
    }

    .row-xl-end-8 {
        grid-row-end: 8;
    }

    .row-xl-end-9 {
        grid-row-end: 9;
    }

    .row-xl-end-10 {
        grid-row-end: 10;
    }

    .row-xl-end-11 {
        grid-row-end: 11;
    }

    .row-xl-end-12 {
        grid-row-end: 12;
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .row-xxl-end-1 {
        grid-row-end: 1;
    }

    .row-xxl-end-2 {
        grid-row-end: 2;
    }

    .row-xxl-end-3 {
        grid-row-end: 3;
    }

    .row-xxl-end-4 {
        grid-row-end: 4;
    }

    .row-xxl-end-5 {
        grid-row-end: 5;
    }

    .row-xxl-end-6 {
        grid-row-end: 6;
    }

    .row-xxl-end-7 {
        grid-row-end: 7;
    }

    .row-xxl-end-8 {
        grid-row-end: 8;
    }

    .row-xxl-end-9 {
        grid-row-end: 9;
    }

    .row-xxl-end-10 {
        grid-row-end: 10;
    }

    .row-xxl-end-11 {
        grid-row-end: 11;
    }

    .row-xxl-end-12 {
        grid-row-end: 12;
    }

}



/* Row gap utilities */

/* XS devices */

.row-gap-0 {
    row-gap: 0;
}


.row-gap-1 {
    row-gap: var(--sz-1);
}

.row-gap-2 {
    row-gap: var(--sz-2);
}

.row-gap-3 {
    row-gap: var(--sz-3);
}

.row-gap-4 {
    row-gap: var(--sz-4);
}

.row-gap-5 {
    row-gap: var(--sz-5);
}

.row-gap-6 {
    row-gap: var(--sz-6);
}

.row-gap-7 {
    row-gap: var(--sz-7);
}

.row-gap-8 {
    row-gap: var(--sz-8);
}

.row-gap-9 {
    row-gap: var(--sz-9);
}

.row-gap-10 {
    row-gap: var(--sz-10);
}

.row-gap-11 {
    row-gap: var(--sz-11);
}

.row-gap-12 {
    row-gap: var(--sz-12);
}

.row-gap-13 {
    row-gap: var(--sz-13);
}

.row-gap-14 {
    row-gap: var(--sz-14);
}

.row-gap-15 {
    row-gap: var(--sz-15);
}

.row-gap-16 {
    row-gap: var(--sz-16);
}

/* SM devices */

@media screen and (min-width: 528px) {

    .row-sm-gap-0 {
        row-gap: 0;
    }

    .row-sm-gap-1 {
        row-gap: var(--sz-1);
    }

    .row-sm-gap-2 {
        row-gap: var(--sz-2);
    }

    .row-sm-gap-3 {
        row-gap: var(--sz-3);
    }

    .row-sm-gap-4 {
        row-gap: var(--sz-4);
    }

    .row-sm-gap-5 {
        row-gap: var(--sz-5);
    }

    .row-sm-gap-6 {
        row-gap: var(--sz-6);
    }

    .row-sm-gap-7 {
        row-gap: var(--sz-7);
    }

    .row-sm-gap-8 {
        row-gap: var(--sz-8);
    }

    .row-sm-gap-9 {
        row-gap: var(--sz-9);
    }

    .row-sm-gap-10 {
        row-gap: var(--sz-10);
    }

    .row-sm-gap-11 {
        row-gap: var(--sz-11);
    }

    .row-sm-gap-12 {
        row-gap: var(--sz-12);
    }

    .row-sm-gap-13 {
        row-gap: var(--sz-13);
    }
    
    .row-sm-gap-14 {
        row-gap: var(--sz-14);
    }
    
    .row-sm-gap-15 {
        row-gap: var(--sz-15);
    }
    
    .row-sm-gap-16 {
        row-gap: var(--sz-16);
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .row-md-gap-0 {
        row-gap: 0;
    }

    .row-md-gap-1 {
        row-gap: var(--sz-1);
    }

    .row-md-gap-2 {
        row-gap: var(--sz-2);
    }

    .row-md-gap-3 {
        row-gap: var(--sz-3);
    }

    .row-md-gap-4 {
        row-gap: var(--sz-4);
    }

    .row-md-gap-5 {
        row-gap: var(--sz-5);
    }

    .row-md-gap-6 {
        row-gap: var(--sz-6);
    }

    .row-md-gap-7 {
        row-gap: var(--sz-7);
    }

    .row-md-gap-8 {
        row-gap: var(--sz-8);
    }

    .row-md-gap-9 {
        row-gap: var(--sz-9);
    }

    .row-md-gap-10 {
        row-gap: var(--sz-10);
    }

    .row-md-gap-11 {
        row-gap: var(--sz-11);
    }

    .row-md-gap-12 {
        row-gap: var(--sz-12);
    }

    .row-md-gap-13 {
        row-gap: var(--sz-13);
    }
    
    .row-md-gap-14 {
        row-gap: var(--sz-14);
    }
    
    .row-md-gap-15 {
        row-gap: var(--sz-15);
    }
    
    .row-md-gap-16 {
        row-gap: var(--sz-16);
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .row-lg-gap-0 {
        row-gap: 0;
    }

    .row-lg-gap-1 {
        row-gap: var(--sz-1);
    }

    .row-lg-gap-2 {
        row-gap: var(--sz-2);
    }

    .row-lg-gap-3 {
        row-gap: var(--sz-3);
    }

    .row-lg-gap-4 {
        row-gap: var(--sz-4);
    }

    .row-lg-gap-5 {
        row-gap: var(--sz-5);
    }

    .row-lg-gap-6 {
        row-gap: var(--sz-6);
    }

    .row-lg-gap-7 {
        row-gap: var(--sz-7);
    }

    .row-lg-gap-8 {
        row-gap: var(--sz-8);
    }

    .row-lg-gap-9 {
        row-gap: var(--sz-9);
    }

    .row-lg-gap-10 {
        row-gap: var(--sz-10);
    }

    .row-lg-gap-11 {
        row-gap: var(--sz-11);
    }

    .row-lg-gap-12 {
        row-gap: var(--sz-12);
    }

    .row-lg-gap-13 {
        row-gap: var(--sz-13);
    }
    
    .row-lg-gap-14 {
        row-gap: var(--sz-14);
    }
    
    .row-lg-gap-15 {
        row-gap: var(--sz-15);
    }
    
    .row-lg-gap-16 {
        row-gap: var(--sz-16);
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .row-xl-gap-0 {
        row-gap: 0;
    }

    .row-xl-gap-1 {
        row-gap: var(--sz-1);
    }

    .row-xl-gap-2 {
        row-gap: var(--sz-2);
    }

    .row-xl-gap-3 {
        row-gap: var(--sz-3);
    }

    .row-xl-gap-4 {
        row-gap: var(--sz-4);
    }

    .row-xl-gap-5 {
        row-gap: var(--sz-5);
    }

    .row-xl-gap-6 {
        row-gap: var(--sz-6);
    }

    .row-xl-gap-7 {
        row-gap: var(--sz-7);
    }

    .row-xl-gap-8 {
        row-gap: var(--sz-8);
    }

    .row-xl-gap-9 {
        row-gap: var(--sz-9);
    }

    .row-xl-gap-10 {
        row-gap: var(--sz-10);
    }

    .row-xl-gap-11 {
        row-gap: var(--sz-11);
    }

    .row-xl-gap-12 {
        row-gap: var(--sz-12);
    }

    .row-xl-gap-13 {
        row-gap: var(--sz-13);
    }
    
    .row-xl-gap-14 {
        row-gap: var(--sz-14);
    }
    
    .row-xl-gap-15 {
        row-gap: var(--sz-15);
    }
    
    .row-xl-gap-16 {
        row-gap: var(--sz-16);
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .row-xxl-gap-0 {
        row-gap: 0;
    }

    .row-xxl-gap-1 {
        row-gap: var(--sz-1);
    }

    .row-xxl-gap-2 {
        row-gap: var(--sz-2);
    }

    .row-xxl-gap-3 {
        row-gap: var(--sz-3);
    }

    .row-xxl-gap-4 {
        row-gap: var(--sz-4);
    }

    .row-xxl-gap-5 {
        row-gap: var(--sz-5);
    }

    .row-xxl-gap-6 {
        row-gap: var(--sz-6);
    }

    .row-xxl-gap-7 {
        row-gap: var(--sz-7);
    }

    .row-xxl-gap-8 {
        row-gap: var(--sz-8);
    }

    .row-xxl-gap-9 {
        row-gap: var(--sz-9);
    }

    .row-xxl-gap-10 {
        row-gap: var(--sz-10);
    }

    .row-xxl-gap-11 {
        row-gap: var(--sz-11);
    }

    .row-xxl-gap-12 {
        row-gap: var(--sz-12);
    }

    .row-xxl-gap-13 {
        row-gap: var(--sz-13);
    }
    
    .row-xxl-gap-14 {
        row-gap: var(--sz-14);
    }
    
    .row-xxl-gap-15 {
        row-gap: var(--sz-15);
    }
    
    .row-xxl-gap-16 {
        row-gap: var(--sz-16);
    }

}


/* Col gap utilities */

/* XS devices */

.col-gap-0 {
    column-gap: 0;
}

.col-gap-1 {
    column-gap: var(--sz-1);
}

.col-gap-2 {
    column-gap: var(--sz-2);
}

.col-gap-3 {
    column-gap: var(--sz-3);
}

.col-gap-4 {
    column-gap: var(--sz-4);
}

.col-gap-5 {
    column-gap: var(--sz-5);
}

.col-gap-6 {
    column-gap: var(--sz-6);
}

.col-gap-7 {
    column-gap: var(--sz-7);
}

.col-gap-8 {
    column-gap: var(--sz-8);
}

.col-gap-9 {
    column-gap: var(--sz-9);
}

.col-gap-10 {
    column-gap: var(--sz-10);
}

.col-gap-11 {
    column-gap: var(--sz-11);
}

.col-gap-12 {
    column-gap: var(--sz-12);
}

.col-gap-13 {
    column-gap: var(--sz-13);
}

.col-gap-14 {
    column-gap: var(--sz-14);
}

.col-gap-15 {
    column-gap: var(--sz-15);
}

.col-gap-16 {
    column-gap: var(--sz-16);
}

/* SM devices */

@media screen and (min-width: 528px) {

    .col-sm-gap-0 {
        column-gap: 0;
    }

    .col-sm-gap-1 {
        column-gap: var(--sz-1);
    }

    .col-sm-gap-2 {
        column-gap: var(--sz-2);
    }

    .col-sm-gap-3 {
        column-gap: var(--sz-3);
    }

    .col-sm-gap-4 {
        column-gap: var(--sz-4);
    }

    .col-sm-gap-5 {
        column-gap: var(--sz-5);
    }

    .col-sm-gap-6 {
        column-gap: var(--sz-6);
    }

    .col-sm-gap-7 {
        column-gap: var(--sz-7);
    }

    .col-sm-gap-8 {
        column-gap: var(--sz-8);
    }

    .col-sm-gap-9 {
        column-gap: var(--sz-9);
    }

    .col-sm-gap-10 {
        column-gap: var(--sz-10);
    }

    .col-sm-gap-11 {
        column-gap: var(--sz-11);
    }

    .col-sm-gap-12 {
        column-gap: var(--sz-12);
    }

    .col-sm-gap-13 {
        column-gap: var(--sz-13);
    }
    
    .col-sm-gap-14 {
        column-gap: var(--sz-14);
    }
    
    .col-sm-gap-15 {
        column-gap: var(--sz-15);
    }
    
    .col-sm-gap-16 {
        column-gap: var(--sz-16);
    }

}

/* MD devices */

@media screen and (min-width: 768px) {

    .col-md-gap-0 {
        column-gap: 0;
    }

    .col-md-gap-1 {
        column-gap: var(--sz-1);
    }

    .col-md-gap-2 {
        column-gap: var(--sz-2);
    }

    .col-md-gap-3 {
        column-gap: var(--sz-3);
    }

    .col-md-gap-4 {
        column-gap: var(--sz-4);
    }

    .col-md-gap-5 {
        column-gap: var(--sz-5);
    }

    .col-md-gap-6 {
        column-gap: var(--sz-6);
    }

    .col-md-gap-7 {
        column-gap: var(--sz-7);
    }

    .col-md-gap-8 {
        column-gap: var(--sz-8);
    }

    .col-md-gap-9 {
        column-gap: var(--sz-9);
    }

    .col-md-gap-10 {
        column-gap: var(--sz-10);
    }

    .col-md-gap-11 {
        column-gap: var(--sz-11);
    }

    .col-md-gap-12 {
        column-gap: var(--sz-12);
    }

    .col-md-gap-13 {
        column-gap: var(--sz-13);
    }
    
    .col-md-gap-14 {
        column-gap: var(--sz-14);
    }
    
    .col-md-gap-15 {
        column-gap: var(--sz-15);
    }
    
    .col-md-gap-16 {
        column-gap: var(--sz-16);
    }

}

/* LG devices */

@media screen and (min-width: 992px) {

    .col-lg-gap-0 {
        column-gap: 0;
    }

    .col-lg-gap-1 {
        column-gap: var(--sz-1);
    }

    .col-lg-gap-2 {
        column-gap: var(--sz-2);
    }

    .col-lg-gap-3 {
        column-gap: var(--sz-3);
    }

    .col-lg-gap-4 {
        column-gap: var(--sz-4);
    }

    .col-lg-gap-5 {
        column-gap: var(--sz-5);
    }

    .col-lg-gap-6 {
        column-gap: var(--sz-6);
    }

    .col-lg-gap-7 {
        column-gap: var(--sz-7);
    }

    .col-lg-gap-8 {
        column-gap: var(--sz-8);
    }

    .col-lg-gap-9 {
        column-gap: var(--sz-9);
    }

    .col-lg-gap-10 {
        column-gap: var(--sz-10);
    }

    .col-lg-gap-11 {
        column-gap: var(--sz-11);
    }

    .col-lg-gap-12 {
        column-gap: var(--sz-12);
    }

    .col-lg-gap-13 {
        column-gap: var(--sz-13);
    }
    
    .col-lg-gap-14 {
        column-gap: var(--sz-14);
    }
    
    .col-lg-gap-15 {
        column-gap: var(--sz-15);
    }
    
    .col-lg-gap-16 {
        column-gap: var(--sz-16);
    }

}

/* XL devices */

@media screen and (min-width: 1200px) {

    .col-xl-gap-0 {
        column-gap: 0;
    }

    .col-xl-gap-1 {
        column-gap: var(--sz-1);
    }

    .col-xl-gap-2 {
        column-gap: var(--sz-2);
    }

    .col-xl-gap-3 {
        column-gap: var(--sz-3);
    }

    .col-xl-gap-4 {
        column-gap: var(--sz-4);
    }

    .col-xl-gap-5 {
        column-gap: var(--sz-5);
    }

    .col-xl-gap-6 {
        column-gap: var(--sz-6);
    }

    .col-xl-gap-7 {
        column-gap: var(--sz-7);
    }

    .col-xl-gap-8 {
        column-gap: var(--sz-8);
    }

    .col-xl-gap-9 {
        column-gap: var(--sz-9);
    }

    .col-xl-gap-10 {
        column-gap: var(--sz-10);
    }

    .col-xl-gap-11 {
        column-gap: var(--sz-11);
    }

    .col-xl-gap-12 {
        column-gap: var(--sz-12);
    }

    .col-xl-gap-13 {
        column-gap: var(--sz-13);
    }
    
    .col-xl-gap-14 {
        column-gap: var(--sz-14);
    }
    
    .col-xl-gap-15 {
        column-gap: var(--sz-15);
    }
    
    .col-xl-gap-16 {
        column-gap: var(--sz-16);
    }

}

/* XXL devices */

@media screen and (min-width: 1400px) {

    .col-xxl-gap-0 {
        column-gap: 0;
    }

    .col-xxl-gap-1 {
        column-gap: var(--sz-1);
    }

    .col-xxl-gap-2 {
        column-gap: var(--sz-2);
    }

    .col-xxl-gap-3 {
        column-gap: var(--sz-3);
    }

    .col-xxl-gap-4 {
        column-gap: var(--sz-4);
    }

    .col-xxl-gap-5 {
        column-gap: var(--sz-5);
    }

    .col-xxl-gap-6 {
        column-gap: var(--sz-6);
    }

    .col-xxl-gap-7 {
        column-gap: var(--sz-7);
    }

    .col-xxl-gap-8 {
        column-gap: var(--sz-8);
    }

    .col-xxl-gap-9 {
        column-gap: var(--sz-9);
    }

    .col-xxl-gap-10 {
        column-gap: var(--sz-10);
    }

    .col-xxl-gap-11 {
        column-gap: var(--sz-11);
    }

    .col-xxl-gap-12 {
        column-gap: var(--sz-12);
    }

    .col-xxl-gap-13 {
        column-gap: var(--sz-13);
    }
    
    .col-xxl-gap-14 {
        column-gap: var(--sz-14);
    }
    
    .col-xxl-gap-15 {
        column-gap: var(--sz-15);
    }
    
    .col-xxl-gap-16 {
        column-gap: var(--sz-16);
    }

}



/* Template rows */

.template-rows-1 {
    grid-template-rows: repeat(1, 1fr);
}

.template-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.template-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.template-rows-4 {
    grid-template-rows: repeat(4, 1fr);
}

.template-rows-5 {
    grid-template-rows: repeat(5, 1fr);
}

.template-rows-6 {
    grid-template-rows: repeat(6, 1fr);
}

.template-rows-7 {
    grid-template-rows: repeat(7, 1fr);
}

.template-rows-8 {
    grid-template-rows: repeat(8, 1fr);
}

.template-rows-9 {
    grid-template-rows: repeat(9, 1fr);
}

.template-rows-10 {
    grid-template-rows: repeat(10, 1fr);
}

.template-rows-11 {
    grid-template-rows: repeat(11, 1fr);
}

.template-rows-12 {
    grid-template-rows: repeat(12, 1fr);
}


/* Padding utilities */

/* XS devices */

/* Padding Y */

.p-y-1 {
    padding-top: var(--sz-1);
    padding-bottom: var(--sz-1);
}

.p-y-2 {
    padding-top: var(--sz-2);
    padding-bottom: var(--sz-2);
}

.p-y-3 {
    padding-top: var(--sz-3);
    padding-bottom: var(--sz-3);
}

.p-y-4 {
    padding-top: var(--sz-4);
    padding-bottom: var(--sz-4);
}

.p-y-5 {
    padding-top: var(--sz-5);
    padding-bottom: var(--sz-5);
}

.p-y-6 {
    padding-top: var(--sz-6);
    padding-bottom: var(--sz-6);
}

.p-y-7 {
    padding-top: var(--sz-7);
    padding-bottom: var(--sz-7);
}

.p-y-8 {
    padding-top: var(--sz-8);
    padding-bottom: var(--sz-8);
}

.p-y-9 {
    padding-top: var(--sz-9);
    padding-bottom: var(--sz-9);
}

.p-y-10 {
    padding-top: var(--sz-10);
    padding-bottom: var(--sz-10);
}

.p-y-11 {
    padding-top: var(--sz-11);
    padding-bottom: var(--sz-11);
}

.p-y-12 {
    padding-top: var(--sz-12);
    padding-bottom: var(--sz-12);
}

.p-y-13 {
    padding-top: var(--sz-13);
    padding-bottom: var(--sz-13);
}

.p-y-14 {
    padding-top: var(--sz-14);
    padding-bottom: var(--sz-14);
}

.p-y-15 {
    padding-top: var(--sz-15);
    padding-bottom: var(--sz-15);
}

.p-y-16 {
    padding-top: var(--sz-16);
    padding-bottom: var(--sz-16);
}

/* Padding top */

.p-t-1 {
    padding-top: var(--sz-1);
}

.p-t-2 {
    padding-top: var(--sz-2);
}

.p-t-3 {
    padding-top: var(--sz-3);
}

.p-t-4 {
    padding-top: var(--sz-4);
}

.p-t-5 {
    padding-top: var(--sz-5);
}

.p-t-6 {
    padding-top: var(--sz-6);
}

.p-t-7 {
    padding-top: var(--sz-7);
}

.p-t-8 {
    padding-top: var(--sz-8);
}

.p-t-9 {
    padding-top: var(--sz-9);
}

.p-t-10 {
    padding-top: var(--sz-10);
}

.p-t-11 {
    padding-top: var(--sz-11);
}

.p-t-12 {
    padding-top: var(--sz-12);
}

.p-t-13 {
    padding-top: var(--sz-13);
}

.p-t-14 {
    padding-top: var(--sz-14);
}

.p-t-15 {
    padding-top: var(--sz-15);
}

.p-t-16 {
    padding-top: var(--sz-16);
}

/* Padding bottom */

.p-b-1 {
    padding-bottom: var(--sz-1);
}

.p-b-2 {
    padding-bottom: var(--sz-2);
}

.p-b-3 {
    padding-bottom: var(--sz-3);
}

.p-b-4 {
    padding-bottom: var(--sz-4);
}

.p-b-5 {
    padding-bottom: var(--sz-5);
}

.p-b-6 {
    padding-bottom: var(--sz-6);
}

.p-b-7 {
    padding-bottom: var(--sz-7);
}

.p-b-8 {
    padding-bottom: var(--sz-8);
}

.p-b-9 {
    padding-bottom: var(--sz-9);
}

.p-b-10 {
    padding-bottom: var(--sz-10);
}

.p-b-11 {
    padding-bottom: var(--sz-11);
}

.p-b-12 {
    padding-bottom: var(--sz-12);
}

.p-b-13 {
    padding-bottom: var(--sz-13);
}

.p-b-14 {
    padding-bottom: var(--sz-14);
}

.p-b-15 {
    padding-bottom: var(--sz-15);
}

.p-b-16 {
    padding-bottom: var(--sz-16);
}