/* HOMEPAGE */



/* Adjust scroll margins for sections */

#my-work {
    scroll-margin-top: var(--sz-9);
}

#about-me {
    scroll-margin-top: var(--sz-9);
}

#contacts {
    scroll-margin-top: var(--sz-9);
}



/* Section styles */

.page-container {
    background-color: hsl(var(--clr-grape-35));
}

.project-cards-container {
    padding: 0 var(--sz-12);
}

.home-hero {
    background-color: hsl(var(--clr-grape-25));
}



/* Hero Home Desktop */

.home-hero-dsk {
    background-color: hsl(var(--clr-grape-15));
    height: clamp(500px, 90vh, 650px);
    position: relative;
}

#home-hero-dsk__background-wave {
    position: absolute;
    bottom: 0;

    z-index: 1;
    
    width: 100%;

    fill: hsl(var(--clr-plump-purple-60));
}

#home-hero-dsk__foreground-wave {
    position: absolute;
    bottom: -2px;

    z-index: 3;

    width: 100%;

    fill: hsl(var(--clr-grape-35));
}

.home-hero-dsk__container {
    height: 100%;
    padding: 0 var(--sz-15);
}

.home-hero-dsk__image {
    align-self: end;
    z-index: 2
}



/* Social proof */

.social-proof__title {
    color: hsl(var(--clr-neutral-90));
}

.social-proof__carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    border: 3px solid green;
}

.social-proof__carousel::-webkit-scrollbar {
    display: none;
}

.social-proof__logo-container {
    display: flex;
    /* flex: 1 0 0; */
    /* align-items: center; */
    border: 3px solid red;
    /* width: 100%; */
    column-gap: 40px; /* 4% */
    /* animation: spin 15s infinite linear; */
}

.social-proof__logo {
    opacity: 0.8;
    flex: 0 0 500px; /* 16.8% */
}

.social-proof__logo > img {
    height: 100px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}