/* PROJECT PAGES (Common CSS for all of the project pages) */



.project-hero-background {
    background-color: #B6E8BA;


    overflow: hidden;

    position: relative;

    height: clamp(200px, 50vh, 250px);

    @media screen and (min-width: 400px) {}

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        height: clamp(250px, 60vh, 300px)
    }

    @media screen and (min-width: 992px) {
        height: clamp(300px, 65vh, 450px);
    }

    @media screen and (min-width: 1200px) {
        height: clamp(300px, 70vh, 500px)
    }

    @media screen and (min-width: 1400px) {}
}

.project-inner-container {
    max-width: initial;
    margin-left: var(--sz-7);
    margin-right: var(--sz-7);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.project-hero-background-image-container {
    display: flex;
    align-items: end;

    margin: 0 auto;
    position: absolute;
    bottom: 0;
    z-index: 1;

    left: 0;



    height: 95%;

    @media screen and (min-width: 440px) {
        left: 40%;
        transform: translateX(-50%);
    }

    @media screen and (min-width: 576px) {
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.project-hero-background-image {
    max-width: 100%;
    max-height: 100%;
}

.project-hero-background-wave-container {
    line-height: 0;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    width: 100%;
}

#project-hero-background-wave {
    fill: hsl(var(--clr-grape-15));

    display: none;

    @media screen and (min-width: 440px) {
        display: initial;
    }

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

#project-hero-background-wave__mob {
    fill: hsl(var(--clr-grape-15));

    @media screen and (min-width: 440px) {
        display: none;
    }

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.project-hero-foreground-image-container {
    display: flex;
    align-items: end;

    position: absolute;
    bottom: 0;

    right: 0;

    z-index: 3;

    max-width: 800px;
    height: 85%;

    @media screen and (min-width: 440px) {
        right: 40%;
        transform: translateX(40%);
    }

    @media screen and (min-width: 576px) {
        right: 50%;
        transform: translateX(50%);
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {}

    @media screen and (min-width: 1400px) {}
}

.project-hero-foreground-image-container__despar {
    @media screen and (min-width: 440px) {
        right: 30%;
        transform: translateX(30%);
    }

    @media screen and (min-width: 576px) {
        right: 50%;
        transform: translateX(50%);
    }
}

.project-hero-foreground-image {
    max-width: 100%;
    max-height: 100%;
}

.project-hero-info {
    background-color: hsl(var(--clr-grape-15));

    position: relative;
}

.project-hero-info-wave-container {}

#project-hero-info-wave {
    fill: hsl(var(--clr-grape-15));
}

.prjct-recap {
    justify-self: center;

    width: auto;

    padding: var(--sz-7);

    border-radius: var(--sz-7);

    background-color: hsl(var(--clr-plump-purple-80));

    margin-top: calc((-1)*var(--sz-13));
    z-index: 1;

    max-width: initial;
    margin-left: var(--sz-7);
    margin-right: var(--sz-7);

    @media screen and (min-width: 576px) {}

    @media screen and (min-width: 768px) {
        max-width: 800px;
    }

    @media screen and (min-width: 992px) {}

    @media screen and (min-width: 1200px) {
        margin-top: calc((-1)*var(--sz-15));
    }

    @media screen and (min-width: 1400px) {}
}

.prjct-recap-gaps {
    row-gap: var(--sz-7);
    column-gap: var(--sz-5);
}

.prjct-recap-section {
    row-gap: var(--sz-3);
}

.prjct-recap-head {
    display: flex;
    align-items: center;
    column-gap: var(--sz-4);
}

.prjct-recap-head-icon {
    font-size: 24px;
    color: var(--clr-plump-purple-10);
}

.prjct-recap-head-title {
    color: var(--clr-plump-purple-10);
}

.prjct-recap-body {
    display: flex;
    column-gap: var(--sz-4);
    min-width: 0; /**/
}

.prjct-recap-line-container {
    width: 24px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.prjct-recap-line {
    width: 2px;
    height: 100%;
    background-color: hsl(var(--clr-basic-white));
}

.prjct-recap-content>ul {
    list-style-type: none;
    padding: inherit;
    margin: inherit;
}

.prjct-recap-content {
    min-width: 0;
    flex: 1 1 auto;
}