/* TYPOGRAPHY */



/* Variables setup */

:root {

    --fs-2xs: 1.2rem;
    --fs-xs: 1.4rem;
    --fs-sm: 1.6rem;
    --fs-md: 2.0rem;
    --fs-lg: 2.4rem;
    --fs-xl: 2.8rem;
    --fs-2xl: 3.2rem;
    --fs-3xl: 3.6rem;
    --fs-4xl: 4.5rem;
    --fs-5xl: 5.6rem;

    --lh-2xs: 1.8rem;
    --lh-xs: 2.0rem;
    --lh-sm: 2.3rem;
    --lh-md: 3.0rem;
    --lh-lg: 3.2rem;
    --lh-xl: 3.6rem;
    --lh-2xl: 4.0rem;
    --lh-3xl: 4.3rem;
    --lh-4xl: 5.4rem;
    --lh-5xl: 6.7rem;

    --ff-serif-display: "DM Serif Display", serif;
    --ff-serif: "DM Serif Text", serif;
    --ff-sans: "Funnel Sans", sans-serif;

}



/* Basic setup */

html {
    /* Setting up font-size to be 10px for default browsers (to make rem calculations easier) */
    font-size: 62.5%;
}

body {
    /* Default body font */
    font-family: var(--ff-sans);
}



/* Styling */

/* Body */

/* 
    .body-xs > .t_body .t_body--sz--xs
    .body-small > .t_body .t_body--sz--sm
    .body-medium > .t_body
    .body-large > .t_body .t_body--sz--lg

    .body-xs-e > .t_body .t_body--sz--xs .t_body--em--yes
    .body-small-e > .t_body .t_body--sz--sm .t_body--em--yes
    .body-medium-e > .t_body .t_body--em--yes
    .body-large-e > .t_body .t_body--sz--lg .t_body--em--yes
    
    .body-small-link > .t_body .t_body--sz--sm .t_body--int--link
*/

.t_body {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-sm, 16px);
    line-height: var(--lh-sm, 23px);
}

.t_body--sz--xs {
    font-size: var(--fs-2xs, 12px);
    line-height: var(--lh-2xs, 18px);
}

.t_body--sz--sm {
    font-size: var(--fs-xs, 14px);
    line-height: var(--lh-xs, 20px);
}

.t_body--sz--md {
    font-size: var(--fs-sm, 16px);
    line-height: var(--lh-sm, 23px);
}

.t_body--sz--lg {
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 30px);
}

.t_body--em--yes {
    font-weight: 700;
}

.t_body--int--link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 10%;
    text-underline-offset: 4%;
    text-underline-position: from-font;
    transition: all 0.3s ease-out;
}

.t_body--int--link:hover,
.t_body--int--link:target,
.t_body--int--link:hover {
    text-decoration-color: hsl(var(--clr-basic-black));
}



/* Label */

/* 
    .label-small > .t_label .t_label--sz--sm
    .label-medium > .t_label
    .label-large > .t_label .t_label--sz--lg

    .label-large-int > .t_label .t_label--sz--lg .t_label--int--btn
    .label-large-link > .t_label .t_label--sz--lg .t_label--int--link
*/

.t_label {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--fs-xs, 14px);
    line-height: var(--lh-xs, 20px);
}

.t_label--sz--sm {
    font-weight: 600;
    font-size: var(--fs-2xs, 12px);
    line-height: var(--lh-2xs, 18px);
}

.t_label--sz--md {
    font-weight: 600;
    font-size: var(--fs-xs, 14px);
    line-height: var(--lh-xs, 20px);
}

.t_label--sz--lg {
    font-weight: 500;
    text-transform: none;
    font-size: var(--fs-sm, 16px);
    line-height: var(--lh-xs, 20px);
}

.t_label--int--btn {
    transition: color 0.3s ease-out;
}

.t_label--int--btn:hover,
.t_label--int--btn:target {
    color: hsl(var(--clr-bittersweet-50));
}

.t_label--int--btn:active {
    color: hsl(var(--clr-bittersweet-40));
}

.t_label--int--link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 9%;
    text-underline-offset: 4%;
    text-underline-position: from-font;
    transition: all 0.3s ease-out;
}

.t_label--int--link:hover,
.t_label--int--link:target {
    color: hsl(var(--clr-bittersweet-40));
}

.t_label--int--link:active {
    color: hsl(var(--clr-bittersweet-30));
}



/* Title */

/* 
    .title-small > .t_title .t_title--sz--sm
    .title-medium > .t_title
    .title-large > .t_title .t_title--sz--lg
    .title-xl > .t_title .t_title--sz--xl

    .title-small-e > .t_title .t_title--sz--sm .t_title--em--yes
    .title-medium-e > .t_title .t_title--em--yes
    .title-large-e > .t_title .t_title--sz--lg .t_title--em--yes
    .title-xl-e > .t-title .t_title--sz--xl .t-title--em--yes
*/

.t_title {
    font-family: var(--ff-sans, "Funnel Sans");
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 30px);
}

.t_title--sz--sm {
    font-weight: 800;
    font-size: var(--fs-sm, 16px);
    line-height: var(--lh-sm, 23px);
}

.t_title--sz--md {
    font-weight: 500;
    font-size: var(--fs-md, 20px);
    line-height: var(--lh-md, 30px);
}

.t_title--sz--lg {
    font-weight: 800;
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_title--sz--xl {
    font-weight: 500;
    font-size: var(--fs-xl, 28px);
    line-height: var(--lh-xl, 36px);
}

.t_title--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60));
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}



/* Headline */

/* 
    .headline-small > .t_headline .t_headline--sz--sm
    .headline-medium > .t_headline
    .headline-large > .t_headline .t_headline--sz--lg

    .headline-small-e > .t_headline .t_headline--sz--sm .t_headline--em--yes
    .headline-medium-e > .t_headline .t_headline--em--yes
    .headline-large-e > .t_headline .t_headline--sz--lg .t_headline--em--yes

    .headline-small-int > .t_headline .t_headline--sz--sm .t_headline--int--link
*/

.t_headline {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-3xl, 36px);
    line-height: var(--lh-3xl, 43px);
}

.t_headline--sz--sm {
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_headline--sz--md {
    font-size: var(--fs-3xl, 36px);
    line-height: var(--lh-3xl, 43px);
}

.t_headline--sz--lg {
    font-size: var(--fs-5xl, 56px);
    line-height: var(--lh-5xl, 67px);
}

.t_headline--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60));
    text-decoration-thickness: 10%;
    text-underline-offset: 9%;
    text-underline-position: from-font;
}

.t_headline--int--link {
    display: inline-block;
    position: relative;

    transition: transform .5s ease-out;
}

.t_headline--int--link::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: hsl(var(--clr-bittersweet-60));
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.t_headline--int--link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* Display */

/* 
    .display-medium > .t_display

    .display-medium-e > .t_display .t_display--sz--xl .t_display--em--yes
*/

.t_display {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_display--sz--md {
    font-size: var(--fs-lg, 24px);
    line-height: var(--lh-lg, 32px);
}

.t_display--sz--xl {
    font-size: var(--fs-4xl, 45px);
    line-height: var(--lh-4xl, 54px);
}

.t_display--em--yes {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60), 1);
    text-decoration-thickness: 10%;
    text-underline-offset: 8%;
    text-underline-position: from-font;
}



/* P - Paragraph */

p {
    margin-bottom: var(--sz-3, 8px);
}