html {
    font-size: 62.5%;
}

:root {

    --fs-2xs: 1.2rem;
    --fs-xs: 1.4rem;
    --fs-sm: 1.6rem;
    --fs-md: 2.0rem;
    --fs-lg: 2.4rem;
    --fs-xl: 2.8rem;
    --fs-2xl: 3.2rem;
    --fs-3xl: 3.6rem;
    --fs-4xl: 4.5rem;
    --fs-5xl: 5.6rem;

    --lh-2xs: 1.8rem;
    --lh-xs: 2.0rem;
    --lh-sm: 2.3rem;
    --lh-md: 3.0rem;
    --lh-lg: 3.2rem;
    --lh-xl: 3.6rem;
    --lh-2xl: 4.0rem;
    --lh-3xl: 4.3rem;
    --lh-4xl: 5.4rem;
    --lh-5xl: 6.7rem;

    --ff-serif-display: "DM Serif Display", serif;
    --ff-serif: "DM Serif Text", serif;
    --ff-sans: "Funnel Sans", sans-serif;

}

body {
    font-family: var(--ff-sans)
}

/* Display / Display medium */
.display-medium {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-size: var(--fs-lg, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-lg, 32px);
}

.display-medium-e {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-size: var(--fs-4xl, 45px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-4xl, 54px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60), 1);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Headline / Headline medium */
.headline-medium {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-3xl, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-3xl, 43px);
}

.headline-medium-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-3xl, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-3xl, 43px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--clr-bittersweet-60);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Headline / Headline small - will be used, among other, for navigation */
.headline-medium {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-lg, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-lg, 32px);
}

.headline-medium-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-lg, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-lg, 32px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--clr-bittersweet-60);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Title / Title large */
.title-large {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-size: var(--fs-lg, 24px);
    font-style: normal;
    font-weight: 800;
    line-height: var(--lh-lg, 32px);
}

.title-large-e {
    font-family: var(--ff-serif-text, "DM Serif Text");
    font-size: var(--fs-lg, 24px);
    font-style: normal;
    font-weight: 800;
    line-height: var(--lh-lg, 32px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--clr-bittersweet-60);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Title / Title medium */
.title-medium {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-md, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-md, 30px);
}

.title-medium-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-md, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-md, 30px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--clr-bittersweet-60);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Title / Title small */
.title-small {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-sm, 16px);
    font-style: normal;
    font-weight: 800;
    line-height: var(--lh-sm, 23px);
}

.title-small-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-sm, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--lh-sm, 23px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--clr-bittersweet-60);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
}

/* Body / Body medium */
.body-medium {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-sm, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-sm, 23px);
}

.body-medium-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-sm, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--lh-sm, 23px);
}

/* Body / Body small */
.body-small {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-xs, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-xs, 20px);
}

.body-small-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-xs, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--lh-xs, 20px);
}

/* Body / Body extra small xs */
.body-xs {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-2xs, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-2xs, 18px);
}

.body-xs-e {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-2xs, 12px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--lh-2xs, 18px);
}

/* Label / Label large */
.label-large {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-sm, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-sm, 23px);
}

/* Label / Label medium */
.label-medium {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-xs, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-xs, 20px);
    text-transform: uppercase;
}

/* Label / Label small */
.label-small {
    font-family: var(--ff-sans, "Funnel Sans");
    font-size: var(--fs-2xs, 12px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-2xs, 18px);
    text-transform: uppercase;
}