/* ELEMENTS */



/* Button */

/* 
    button > e_btn
    button--primary--on-dark > e_btn--vr--primary
    button--secondary--on-dark > e_btn--vr--secondary
    button--tertiary--on-dark > e_btn--vr--tertiary

    button__label > e_btn__label
    button--fixed-width > e_btn--wd--fixed
*/

.e_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--sz-3);
    padding: var(--sz-3) var(--sz-4);
    border-radius: var(--sz-4);
    
    transition: transform 300ms ease-out, box-shadow 300ms ease-out, background-color 300ms ease-out;

    @media screen and (max-width: 768px) {
        min-width: 196px;
    }
}

.e_btn--vr--primary {
    color: hsl(var(--clr-plump-purple-5));
    background-color: hsl(var(--clr-bittersweet-60));
}

.e_btn--vr--secondary {
    color: hsl(var(--clr-plump-purple-5));
    background-color: hsl(var(--clr-basic-white));
}

.e_btn--vr--primary:hover,
.e_btn--vr--secondary:hover {
    box-shadow: var(--elv-4);
    transform: translate(calc(var(--sz-2)*(-1)), calc(var(--sz-2)*(-1)));
}

.e_btn--vr--primary:active {
    background-color: hsl(var(--clr-bittersweet-50));
}

.e_btn--vr--secondary:active {
    background-color: hsl(var(--clr-neutral-90));
}

.e_btn--vr--tertiary {
    color: hsl(var(--clr-bittersweet-60));
    background-color: none;
    
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: hsl(var(--clr-bittersweet-60), 1);
    text-decoration-thickness: 10%;
    text-underline-offset: 13.1%;
    text-underline-position: from-font;
    transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
}

.e_btn--vr--tertiary:hover {
    color: hsl(var(--clr-bittersweet-50));
    text-decoration-color: hsl(var(--clr-basic-black));
}

.e_btn--vr--tertiary:active {
    color: hsl(var(--clr-bittersweet-40));
    text-decoration-color: hsl(var(--clr-basic-black));
}

.e_btn--wd--fixed {
    min-width: 200px;

    @media screen and (min-width: 992px) {
        min-width: auto;
    }
}

.e_btn__label,
.e_btn__label:hover,
.e_btn__label:active {
    text-decoration: none;
}



/* FAB - Floating action button */

/* 
    fab > e_fab
    fab-icon > e_fab__icon
*/

.e_fab {
    display: inline-block;
    background-color: hsl(var(--clr-basic-white));
    border-radius: var(--sz-max);
    width: var(--sz-10);
    height: var(--sz-10);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 300ms ease-out, box-shadow 300ms ease-out, background-color 300ms ease-out;

    @media screen and (min-width: 768px) {

    }
}

.e_fab:hover,
.e_fab:focus,
.e_fab:target {
    box-shadow: var(--elv-4);
    transform: translate(calc(var(--sz-2)*(-1)), calc(var(--sz-2)*(-1)));
}

.e_fab__icon {
    font-size: var(--sz-7);
    color: hsl(var(--clr-basic-black));
}


/* Text link */

/* 
    text-link > e_link-text
    text-link__primary > e_link-text--vr--primary
    text-link__label > e_link-text__label
*/

.e_link-text {
    display: inline-flex;
    align-items: center;
    gap: var(--sz-2);
    color: hsl(var(--clr-bittersweet-60));
}

.e_link-text--vr--primary {
    color: hsl(var(--clr-grape-35));
}

.e_link-text--vr--primary:hover {
    color: hsl(var(--clr-grape-35));
    text-decoration-color: hsl(var(--clr-basic-black));
}

.e_link-text--vr--primary:active {
    color: hsl(var(--clr-grape-15));
    text-decoration-color: hsl(var(--clr-basic-black));
}


.e_link-text__label {}



/* Tag */

/* 
    tag > e_tag
    tag--clickable > e_tag--clk--yes
    tag--card > e_tag--vr--card
*/

.e_tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--sz-2);
    padding: var(--sz-2) var(--sz-3);
    border-radius: var(--sz-3);

    color: hsl(var(--clr-basic-black));
    background-color: hsl(var(--clr-grape-80));

    transition: transform 300ms ease-out, box-shadow 300ms ease-out, background-color 300ms ease-out;
}

.e_tag--clk--yes {}

.e_tag--clk--yes:hover {
    box-shadow: var(--elv-4);
    transform: translate(calc(var(--sz-2)*(-1)), calc(var(--sz-2)*(-1)));
}

.e_tag--vr--card {
    background-color: hsl(var(--clr-grape-90));
}