.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bg-dark {
    background-color: hsl(var(--clr-grape-35));
}

.bg-light {
    background-color: hsl(var(--clr-plump-purple-98));
}

.text-dark {
    color: hsl(var(--clr-basic-black));
    
    /* Consider for refactoring */
    /* 
    --clr-text: hsl(var(--clr-basic-black));
    color: var(--clr-text);
    */
}

.text-light {
    color: hsl(var(--clr-basic-white));
    
    /* Consider for refactoring */
    /*
    --clr-text: hsl(var(--clr-basic-white)); 
    color: var(--clr-text);
    */
}

.text-primary {
    color: hsl(var(--clr-grape-35));

    /* Consider for refactoring */
    /*
    --clr-text: hsl(var(--clr-grape-35));
    color: var(--clr-text);
    */
}

.text-accent {
    color: hsl(var(--bittersweet-60));

    /* Consider for refactoring */
    /*
    --clr-text: hsl(var(--clr-bittersweet-60));
    color: var(--clr-text);
    */
}

.text-neutral {
    color: hsl(var(--clr-neutral-35));

    /* Consider for refactoring */
    /*
    --clr-text: hsl(var(--clr-neutral-35));
    color: var(--clr-text);
    */
}

.text-center {
    text-align: center;
}

.radius-8 {
    border-radius: var(--sz-8);
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-height {
    height: 100%;
}