/* COMMON */
/* Style in common among all pages */

html {
    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: hsl(var(--clr-grape-15));
}

.page-container {
    background-color: hsl(var(--clr-plump-purple-98));
}

main {
    min-height: 60vh;
}